{% extends "layout.html" %}
{% block title %}
<title>Espasyo - About Page</title>
{% endblock %}
{% block main%}
  <div class="mt-5"></div>
    <h1 class="about">About page:</h1>
    <div class="mt-2"></div>
    <h3>Welcome to Espasyo!</h3>
  <p class="about-text">Espasyo is a Filipino word that means 'space'. This is a simple publishing platform that serves as a space for writers who want to share their stories, ideas, or thoughts where they can freely express themselves, with the intention of both inspiring others and finding inspiration in return. Espasyo nurtures a collective of individuals who are motivated to forge connections through the influence of words and stories</p>
  {% endblock %}


