{% extends "layout.html" %}

{% block title %}
<title>Espasyo - Change Password</title>
{% endblock %}

{% block main %}
<div class="mt-5"></div>
<div class="change_password mb-3">
    <h4>Change Password:</h4>
</div>
<form action="/changepassword" method="post">
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" required id="old_password" name="old_password"
            placeholder="Old Password" type="password">
            <button class="btn btn-secondary btn-sm" type="button" id="old_password-toggle">Show</button>
    </div>
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" required id="new_password" name="new_password" placeholder="New Password"
            type="password">
            <button class="btn btn-secondary btn-sm" type="button" id="new_password-toggle">Show</button>
    </div>
    <div class="mb-3 position-relative">
        <input class="form-control mx-auto w-auto" required id="password_confirmation" name="confirmation"
            placeholder="Confirm Password" type="password">
            <button class="btn btn-secondary btn-sm" type="button" id="con_password-toggle">Show</button>
    </div>
    <button class="btn btn-primary" type="submit">Submit</button>

</form>


<!-- JavaScript to toggle password visibility -->
<script>
    const old_passwordField = document.getElementById("old_password");
    const old_passwordToggle = document.getElementById("old_password-toggle");

    old_passwordToggle.addEventListener("click", () => {
        if (old_passwordField.type === "password") {
            old_passwordField.type = "text";
            old_passwordToggle.textContent = "Hide";
        } else {
            old_passwordField.type = "password";
            old_passwordToggle.textContent = "Show";
        }
    });

    const new_passwordField = document.getElementById("new_password");
    const new_passwordToggle = document.getElementById("new_password-toggle");

    new_passwordToggle.addEventListener("click", () => {
        if (new_passwordField.type === "password") {
            new_passwordField.type = "text";
            new_passwordToggle.textContent = "Hide";
        } else {
            new_passwordField.type = "password";
            new_passwordToggle.textContent = "Show";
        }
    });

    const con_passwordField = document.getElementById("password_confirmation");
    const con_passwordToggle = document.getElementById("con_password-toggle");

    con_passwordToggle.addEventListener("click", () => {
        if (con_passwordField.type === "password") {
            con_passwordField.type = "text";
            con_passwordToggle.textContent = "Hide";
        } else {
            con_passwordField.type = "password";
            con_passwordToggle.textContent = "Show";
        }
    });
</script>

{% endblock %}